.red {
    color: #ff6353;
}
.cart{
	//头
	.cart_express{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 1.32rem;
		padding: 0 0 0 .32rem;
		box-sizing: border-box;
		background: #fff9eb;
		line-height: 1.32rem;
		font-size: .38rem;
		color: #333;
		z-index: 100;
	}
	.cart_express:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #ffd6a0;
    transform: scaleY(0.5);
    transform-origin: 0 0;
	}
	//商品
	.cart_wrap.pd {
    padding-top: 1.62rem;
	}
	.cart_wrap{
		padding: 2.94rem 0 80px;
	    color: #333;
	    .goods{
	    	.group{
	    		position: relative;
	    		margin: 0 0 .3rem;
	    		background: #fff;
	    		.one{
	    			position: relative;
	    			padding: .32rem 0 .32rem 1.22rem;
	    			.check{
	    				position: absolute;
	    				top: .32rem;
	    				left: 0;
	    				width: 1.22rem;
	    				height: .54rem;
	    				padding: 1.08rem 0;
	    				text-align: center;
	    				i{
	    					display: inline-block;
	    					width: .54rem;
	    					height: .54rem;
	    					background: url(../../asstes/img/check1.png) no-repeat;
	    					background-size: 100%;
	    				}
	    			}
	    			.img{
	    				position: absolute;
	    				left: 1.22rem;
	    				top: .32rem;
	    				width: 2.7rem;
	    				height: 2.7rem;
	    				img{
	    					display: block;
	    					width: 2.7rem;
	    					height: 2.7rem;
	    				}
	    			}
	    			.text{
	    				padding: 0 1.9rem 0 3rem;
	    				h2{
	    					height: 1.12rem;
	    					line-height: .56rem;
	    					font-size: .42rem;
	    					font-weight: normal;
	    				}
	    				.elili2{
	    					overflow: hidden;
    					    text-overflow: ellipsis;
    					    display: -webkit-box;
    					    -webkit-box-orient: vertical;
    					    -webkit-line-clamp: 2;
	    				}
	    				.tag{
	    					height: .56rem;
	    					padding: .2rem 0 .1rem;
	    				}
	    				p{
	    					height: .72rem;
	    					line-height: .72rem;
	    					font-size: 11px;
	    					color: #ccc;
	    					b{
	    						font-size: .42rem;
	    					}
	    				}
	    			}
	    			.del{
	    				position: absolute;
	    				right: .5rem;
	    				top: .42rem;
	    				width: .48rem;
	    				height: .5rem;
	    				i{
	    					display: block;
	    					width: .48rem;
	    					height: .5rem;
	    					background: url(../../asstes/img/del.png) no-repeat;
	    					background-size: 100%;
	    				}
	    			}
	    		}
	    	}
	    }
	}


}