*{
	padding: 0;
	margin: 0;
}
.home{
	background: white;
	width: 100%;
	.home_top{
		display: flex;
		height: 1.24rem;
		background: linear-gradient(to right, #36db84 , #0eb27b);
		color: white;
		font-size:14px;
		a{
			width: 2.2rem;
			text-align: center;
			line-height: 1.24rem;
		}
		.top_search{
			flex:1;
			height: .9rem;
			background: rgba(255,255,255,.2);
			margin: .17rem .32rem 0rem 0rem;
			border-radius: 0.62rem;
		}
	}
	.swiper_img{
		img{
			display: block;
			width: 100%;
			//height: 100%;
		}
	}
	.ws_img{
		img{
			display: block;
			width: 100%;
			height: 3.8rem;
		}
	}
	.first_menu{
		width: 100%;
		height: 4.8rem;
		padding:.34rem .21rem .02rem .21rem;
		font-size: 12px;
		li{
			float: left;
			width: 25%;
			text-align: center;
			img{
				display: inline-block;
			    width: 1.6rem;
			    height: 1.6rem;
			}

		}
	}
	.screen{
		border-top: solid 1px #f4f4f4;
		border-bottom:solid 5px #f4f4f4;
		height: 1.1rem;
	    box-sizing: border-box;
	    overflow: hidden;
	    .screen_left{
	    	width: 25%;
	    	height: 1.1rem;
	    	float: left;
	    }
	    .screen_right{
	    	float: left;
	    	height: 1.1rem;
	    	width: 75%;
	    	.screen_word{
	    		font-size: 12px;
	    		height: 20px;
	    		padding: .22rem .32rem .22rem .35rem;
	    	}
	    }
	}
	.ws_img_2{
		img{
			width: 100%;
		}
		border-bottom: 1px solid #f4f4f4;
		border-top: 1px solid #f4f4f4;
	}
	.ws_img_8{
		background: #f4f4f4;
		img{
			width: 100%;
		}
		height: 5rem;
		border-top: 1px solid #f4f4f4;
	}
	.help{
		width: 100%;
		height: 70px;
	}
	.pro_swiper_1{
		font-size: 12px;
		height: 6rem;
		text-align: center;
		img{
			width: 3.5rem;
			height: 3.5rem;
			display: block;
		}
		.pro_name{
			display: inline-block;
			overflow:hidden; //超出的文本隐藏
			text-overflow:ellipsis; //溢出用省略号显示
			white-space:nowrap; //溢出不换行
		}
		.pro_dec{
			display: inline-block;
			border: 1px solid green;
			border-radius:.6rem;
			padding:0 .2rem;
			margin-top: .22rem;
			color: green;
			line-height: .5rem;
		}
		.pro_help{
			height: .5rem;
			width: 100%;
			padding:0 .2rem;
			margin-top: .22rem;
		}
		.pro_price{
			margin-top: .22rem;
			.pro_num{			
			color: red;
		}

		}
		
		}
		.li_list{
			li{
			    height: 4.46rem;
			    padding: .32rem;
			    border-bottom: 2px solid #f4f4f4;
			    .li_left{
				float: left;
				height: 4.5rem;
				width:4.5rem;
				img{
					width:4.5rem;
					height: 4.5rem;
				}
				}
				.li_right{
					padding-left: 20px;
					.p1{
						font-size: 18px;
						padding-top: 10px;
					}
					.p2{
						font-size: 12px;
						padding-top: 10px;
					}
					.p3{
						padding-top: 10px;
					}
					.p4{
						padding-top: 20px;
						.price_word{
							color: red;
							font-size: 18px;
							font-weight: bold;
						}
						.price_kg{
							padding-left: 2px;
						}
					}

					p{
						width: 180px;
						overflow:hidden; 
						text-overflow:ellipsis; 
						white-space:nowrap;
					}
					height: 4.5rem;
					float: left;
				}
				}	 
	}
	.fruit{
		.fruit_title{
			height: 1.7rem;
			line-height: 1.7rem;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
		}
	}
}